.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: side; }
.item5 { grid-area: low; }
.item6 { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-columns: auto 250px auto auto;
  grid-template-areas:
    'header header header header header header header'
    'menu menu menu main side side side'
    'menu menu menu low low low low'
    'footer footer footer footer footer footer footer';
  gap: 1px;
  background-color: #FAF0E6;
  padding: 1px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

body {
  background-color: #FFFFF0; //ivory
}

img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
